.contenedor {
    background: rgb(202, 202, 184);
    height: 100%;
    width: 100%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }


.form-error-message {
        color: red;
        font-size: .75em;
        padding-left: 16px;
}
