
<div class="contenedor">
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input  formControlName="nombre" id="nombre"  type="text"  class="form-control">
        <div class='form-error-message'  *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
        <div class='form-error-message' *ngIf="f.nombre.errors.required">nombre es requerido.</div>
        <div class='form-error-message'  *ngIf="f.nombre.errors.minlength">nombre deber mas de 3 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input  formControlName="apellidos" id="apellidos"  type="text"  class="form-control">
        <div class='form-error-message'  *ngIf="f.apellidos.touched && f.apellidos.invalid" class="alert alert-danger">
        <div class='form-error-message'  *ngIf="f.apellidos.errors.required">apellidos es requerido.</div>
        <div class='form-error-message'  *ngIf="f.apellidos.errors.minlength">apellidos deberia tener mas de 3 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="rut">Rut</label>
        <input  formControlName="rut" id="rut"  type="text"  class="form-control">
        <div class='form-error-message' *ngIf="f.rut.touched && f.rut.invalid" class="alert alert-danger">
        <div class='form-error-message'  *ngIf="f.rut.errors.required">Rut es requerido.</div>
        <div class='form-error-message'  *ngIf="rutIsValid == false">Rut invalido</div>
        <div class='form-error-message'  *ngIf="existeRut == true">Rut ya existe</div>
        </div>
    </div>

    <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input  formControlName="fechaNacimiento" id="fechaNacimiento"  type="text"  class="form-control">
        <div class='form-error-message'  *ngIf="f.fechaNacimiento.touched && f.fechaNacimiento.invalid" class="alert alert-danger">
        <div class='form-error-message'   *ngIf="f.fechaNacimiento.errors.required">Fecha de nacimiento es requerida.</div>
        <div class='form-error-message'  *ngIf="f.fechaNacimiento.errors.minlength">Fecha de nacimiento deberia tener mas de 3 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="region">Region</label>
          <select formControlName="region" id="region" class="form-control">
            <option *ngFor="let region of regionesList">
              {{region.region}}
            </option>
          </select>
    </div>


    
    <div class="form-group">
       <div class="form-group">
        <label for="comuna">Comuna</label>
            <select formControlName="comuna" id="comuna"  type="text"  class="form-control">
              <option *ngFor="let comuna of comunasList">
                {{comuna.name}}
              </option>
            </select>
       </div>
    </div>

    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input  formControlName="direccion" id="direccion"  type="text"  class="form-control">
        <div *ngIf="f.direccion.touched && f.direccion.invalid" class="alert alert-danger">
        <div *ngIf="f.direccion.errors.required">Dirección es requerida.</div>
        <div *ngIf="f.direccion.errors.minlength">Direccion deberia tener mas de 3 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="text" class="form-control">
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
            <div *ngIf="f.email.errors.required">Email es requerido.</div>
            <div *ngIf="f.email.errors.email">Email invalido.</div>
        </div>
    </div>

   

    <div>
        <label for="fotoPerfil">Foto Perfil</label>
        <input type="file" name="archivo"  id="fotoPerfil" (change)="onFileChange($event)" multiple/>

    </div>
    <span></span>
    <button type=submit id="myBtn" class="btn btn-primary" type="submit">Enviar</button>

</form>

<div id="miModal" *ngIf="exitoCrear == true"  class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerraModal()">&times;</span>
      <h2>Success</h2>
      <p>Exito al guardar el usuario</p>
    </div>  
  </div>
</div>

<div id="miModalError" *ngIf="errorCrear == true"  class="modal">
  <div class="modal-content">
    <span class="close" (click)="cerraModal()">&times;</span>
    <h2>Error</h2>
    <p>Error al guardar el usuario{{message}}</p>
  </div>  
</div>
